@{
    ViewBag.Title = "Home";
}

    <div id="carousal" class="carousel slide position-relative" data-ride="carousel">
        <ol class="carousel-indicators d-none d-md-flex" style="height:40px">
            <li data-target="#carousal" data-slide-to="0" class="active"></li>
            <li data-target="#carousal" data-slide-to="1"></li>
            <li data-target="#carousal" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner position-relative">
            <div class="carousel-item active">
                <img class="d-block w-100 h-50" src="https://originalmarinesoutlets.com/client/dist/images/ads/1.jpg" alt="First slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-50" src="https://originalmarinesoutlets.com/client/dist/images/ads/1.jpg" alt="Second slide">
            </div>
            <div class="carousel-item">
                <img class="d-block w-100 h-50" src="https://originalmarinesoutlets.com/client/dist/images/ads/1.jpg" alt="Second slide">
            </div>
        </div>
        <div class="caption d-none d-md-block">
            <h4>Items on 60% & 70% cannot be exchanged.</h4>
        </div>
        <div class="help d-none d-md-block">
            <a href="#video" class="btn btn-help">
                <h4>Help?</h4>
            </a>
        </div>
    </div>


<div class="container">
    <div class="row  mt-5 mb-2">
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3 position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover  img-fluid" src="https://storage.googleapis.com/original-marines-outlet/boy-winter.jpeg" alt="boy" />
                    <div class="contain-absolute">
                        <h3>Boy</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 mb-3 mt-3  position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover  img-fluid" src="https://storage.googleapis.com/original-marines-outlet/baby-boy-winter.jpeg" alt="Baby boy" />
                    <div class="contain-absolute">
                        <h3>Baby Boy</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mb-3 mt-3 position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover  img-fluid" src="https://storage.googleapis.com/original-marines-outlet/girl-winter.jpeg" alt="Girl" />
                    <div class="contain-absolute">
                        <h3>Girl</h3>
                    </div>
                </a>
            </div>
        </div>


        <div class="col-lg-4 col-md-6 col-12 mt-3 position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover img-fluid" src="https://storage.googleapis.com/original-marines-outlet/baby-girl-winter.jpeg" alt="Baby Girl" />
                    <div class="contain-absolute">
                        <h3>Baby Girl</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3 position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover img-fluid" src="https://storage.googleapis.com/original-marines-outlet/new-born-winter.jpg" alt="New Born" />
                    <div class="contain-absolute">
                        <h3>NewBorn</h3>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 col-12 mt-3 position-relative" data-aos="zoom-in-up" data-aos-delay="300">
            <div class="img-hover">
                <a href="#">
                    <img class="cover img-fluid" src="https://storage.googleapis.com/original-marines-outlet/shoes-winter.jpeg" alt="OM Shoes" />
                    <div class="contain-absolute">
                        <h3>OM Shoes</h3>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-lg-3  col-md-3 col-12 my-3" data-aos="fade-right">
            <div class="shop">
                <div class="shop-categorie w-100">
                    <button class="btn btn-secondary w-100 text-start" data-toggle="collapse" data-target="#categories" aria-expanded="true">
                        <strong>SHOP BY CATEGORIES</strong>
                        <span class="las la-caret-down float-end"></span>
                    </button>
                    <ul class="collapse nav flex-column show pt-3 " id="categories">
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>BOY</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Baby BOY</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Girl</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Baby Girl</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>NewBorn</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>OM Shoes</small>
                        </li>
                    </ul>
                </div>
                <div class="shop-categorie w-100 mt-4">
                    <button class="btn btn-secondary w-100 text-start" data-toggle="collapse" data-target="#product" aria-expanded="true">
                        <strong>SHOP BY Products</strong>
                        <span class="las la-caret-down float-end"></span>
                    </button>
                    <ul class="collapse nav flex-column show pt-3 " id="product">
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>BOY</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Baby BOY</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Girl</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>Baby Girl</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>NewBorn</small>
                        </li>
                        <li class="nav-item">
                            <input type="checkbox" class="form-check-input" />
                            <small>OM Shoes</small>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-12 my-3">
            <div class="row">
                <div class="better-seller">
                    <div class="title text-start" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <h3>BEST SELLER</h3>
                    </div>
                    <div class="showcount mt-3 d-flex align-items-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <label>Show: </label>
                        <select class="form-select w-auto text-black " style="border:1px solid black;margin-left: 16px">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="row mt-3" data-aos="zoom-in-up">
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="@Url.Action("item","Home")">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4  col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <div class="better-seller">
                    <div class="title text-start" data-aos="fade-right" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <h3>LAST ARRIVAL</h3>
                    </div>
                    <div class="showcount mt-3  d-flex align-items-center" data-aos="fade-left" data-aos-offset="300" data-aos-easing="ease-in-sine">
                        <label>Show: </label>
                        <select class="form-select w-auto text-black " style="border:1px solid black;margin-left: 16px">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="row mt-3" data-aos="zoom-in-up">
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="col-lg-4 col-xl-3 col-md-4 col-6">
                            <a href="#">
                                <div class="card mb-2 position-relative d-inline-block" style="width: 200px;">

                                    <img class="card-img-top " src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" alt="Card image cap">
                                    <img class="card-img-top img-front" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-2" alt="Card image cap">

                                    <div class="card-body">
                                        <h5 class="card-title" style="line-height:1;">Girl's Good Night Pyjama Fl...</h5>
                                        <div class="products-card-price-with-sold">
                                            <h6>650,000 - 780,000LBP</h6>
                                        </div>
                                        <div class="cardPriceDiscount">
                                            <h6>325,000 - 390,000LBP</h6>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
<div class="container-fluid d-none d-md-block " style="border-top:1px solid #f4f7f9">
    <div class="row mt-4 mb-4" id="video" data-aos="fade-down">
        <div class="col-12 justify-content-center text-center d-flex flex-column">
            <div>
                <h4>It is as easy as ABC...</h4>
                <small>Watch the video below to learn how you can place your order.</small>
            </div>
            <video controls="">
                <source src="https://storage.googleapis.com/original-marines-outlet/HowTO.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</div>


<!--<div class="loadscreen align-middle">
    <div class="load-spinner">
        <img src="~/image/logo.png" class="img-fluid">
    </div>
</div>
-->
@section scripts
{
    <script type="text/javascript">
        function myFunction(x) {
    if (x.matches) { // If media query matches
        var categories = document.getElementById("categories");
        categories.classList.remove("show");
        var product = document.getElementById("product");
        product.classList.remove("show");
    } else {
        var categories = document.getElementById("categories");
        categories.classList.add("show");
        var product = document.getElementById("product");
        product.classList.add("show");
    }
}
    
        

        document.getElementById("load").onload = function () { onload() };
        function onload() {
            $(".loadscreen")[0].style.display = "none";
        }

        var x = window.matchMedia("(max-width: 992px)")
            myFunction(x) // Call listener function at run time
            x.addListener(myFunction) // Attach listener function on state changes

       
    </script>

}
     
