
@{
    ViewBag.Title = "whishlist";
}

<div style="height:35vh" class="d-none d-lg-block"></div>

<div class="container mt-5 mt-lg-0">
    <div class="row justify-content-center">
        <div class="col-12 position-relative" style="border-bottom:1px solid #f0f0f0; padding-bottom:3px;">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <img class="img-fluid h-75 w-50" alt="img" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" />
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="w-50 text-start">
                                <h4 style="white-space: pre;overflow: hidden;">Girl's Good Night Pyjama Fl...</h4>
                            </div>
                            <div>
                                <button class="btn btn-danger rounded-circle p-0" style="background-color:transparent;color:#dc3545;width: 30px;height:30px;">X</button>
                            </div>
                        </div>

                        <span class="text-start">3 - 4 Years </span>
                        <div class="d-flex flex-row text-start">
                            <strong>325,000LBP</strong>
                            <small style="color:grey; text-decoration: line-through; font-style: italic;">650,000 LBP</small>
                        </div>
                        <div class="discount-cart-label text-start">You saved 50%</div>
                        <div class="qty" style="text-align: left;">
                            <span class="minus bg-dark">-</span>
                            <input type="number" class="count w-25" name="qty" value="1">
                            <span class="plus bg-dark">+</span>
                        </div>
                        <div class="mt-2 text-start">
                            <button class="btn btn-primary btn-cart " style="background-color:transparent;color:#0d6efd;border-radius:50px;width:100px">
                                <span class="las la-shopping-bag"></span>
                                Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 position-relative mt-2" style="border-bottom:1px solid #f0f0f0;padding-bottom:3px;">
            <div class="row">
                <div class="col-lg-3 col-md-4 col-6">
                    <img class="img-fluid h-75 w-50" alt="img" src="https://storage.googleapis.com/original-marines-outlet/e207b578-bd6e-40f9-b9d6-43c6c04460e4-1" />
                </div>
                <div class="col-lg-9 col-md-8 col-6">
                    <div class="d-flex flex-column">
                        <div class="d-flex flex-row">
                            <div class="w-50 text-start">
                                <h4 style="white-space: pre;overflow: hidden;">Girl's Good Night Pyjama Fl...</h4>
                            </div>
                            <div>
                                <button class="btn btn-danger rounded-circle p-0" style="background-color:transparent;color:#dc3545;width: 30px;height:30px;">X</button>
                            </div>
                        </div>

                        <span class="text-start">3 - 4 Years </span>
                        <div class="d-flex flex-row text-start">
                            <strong>325,000LBP</strong>
                            <small style="color:grey; text-decoration: line-through; font-style: italic;">650,000 LBP</small>
                        </div>
                        <div class="discount-cart-label text-start">You saved 50%</div>
                        <div class="qty" style="text-align: left;">
                            <span class="minus bg-dark">-</span>
                            <input type="number" class="count w-25" name="qty" value="1">
                            <span class="plus bg-dark">+</span>
                        </div>
                        <div class="mt-2 text-start">
                            <button class="btn btn-primary btn-cart " style="background-color:transparent;color:#0d6efd;border-radius:50px;width:100px">
                                <span class="las la-shopping-bag"></span>
                                Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

